{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>SpringCM XML Merge Tag Checker</title>


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900"
    rel="stylesheet">
  <link href="{% static 'linter/css/theme.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">


    <div class="container">
      <div class="content mt-3">
        <div class="card mb-3">
          <div class="bg-holder d-none d-lg-block bg-card"
            style="background-image:url({% static 'linter/img/illustrations/corner-4.png' %});">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <h3 class="mb-0">SpringCM XML Merge Tag Template Check</h3>
                <p class="mt-2">Check your SpringCM XML templates for errors <i>before</i> you put it in
                  production.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% block body %}{% endblock %}
      <footer>
        <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Not affiliated with DocuSign or SpringCM.</p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Questions or comments? Email me at <kbd>harry</kbd> at <kbd>khanna.cc</kbd></p>
          </div>
        </div>
      </footer>
    </div>
    </div>
  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->




  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'linter/js/jquery.min.js' %}"></script>
  <script src="{% static 'linter/js/popper.min.js' %}"></script>
  <script src="{% static 'linter/js/bootstrap.js' %}"></script>
  <script src="{% static 'linter/lib/stickyfilljs/stickyfill.min.js' %}"></script>
  <script src="{% static 'linter/lib/sticky-kit/sticky-kit.min.js' %}"></script>
  <script src="{% static 'linter/lib/is_js/is.min.js' %}"></script>
  <script src="{% static 'linter/lib/@fortawesome/all.min.js' %}"></script>
  <script src="{% static 'linter/js/theme.js' %}"></script>

</body>

</html>